.nav-menu {
  text-align: right;
}
.nav-spacing {
  margin-left: 10px;
}
.nav-link {
  color: blue;
  text-decoration: none;
}
.image-link {
  target="_blank" rel="noopener"
  style="text-decoration: none;"
}
